# Node.js / TypeScript
node_modules/
dist/
*.log

# Editor / IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*~
*.log
*.bak
*.cache

# Environment files
.env

# Build files
*.build/
build/

# Dependency directories
jspm_packages/
typings/

# Visual Studio Code folders
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
